<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OCR Web App</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<style>
  #result {
    display: grid;
    word-break: break-word;
    word-wrap: break-word;
    width: 500px;
    border: 1px solid red;
    margin-top: 1rem;
    padding: 1rem;
  }
</style>
<h1>OCR Web App</h1>
<form id="upload-form" enctype="multipart/form-data">
  <input type="file" id="file-input" name="file">
  <button type="submit">Upload and Process</button>
</form>
<div id="result"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
